<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vc.thinker.userservice.pk.mapper.OrderFormMapper">

    <resultMap id="entity" type="vc.thinker.userservice.pk.entity.OrderForm"/>
    <resultMap id="bo" extends="entity" type="vc.thinker.userservice.pk.bo.OrderFormBO">
    </resultMap>
    <select id="page" resultMap="bo">
        select base.*
        from pk_order_form as base
        <where>
            <if test="vo != null">

            </if>
        </where>
    </select>
</mapper>
