<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vc.thinker.userservice.user.mapper.SysUserMapper">


    <select id="page" resultType="vc.thinker.userservice.user.entity.SysUser">
        select id,create_time,create_by,update_time,update_by,regist_ip,company_id,office_id,data_scope,invitation_code,country,is_deleted
        FROM sys_user
    </select>
</mapper>
